TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=replace_with_a_local_generated_key
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=replace_with_your_database_password
DB_DATABASE=medbem
